
@using Syncfusion.Blazor.Buttons

<div class="hero-image">
    <div class="hero-content-container">
        <h3>Guardar memórias nunca foi tão fácil</h3>
    </div>
</div>

<style>
    .hero-content-container{
        font-family: MuseoModerno;
        width: 100%;
        max-width: 1200px;
        height: 100%;
        color: white;
        text-shadow: 2px 2px black;
        display: flex;
        padding: 20px;
        justify-content: end;
        align-items: end;
    }
    
</style>

@code {
}
