@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>ProjetoFinal.Web.Blazor</PageTitle>

<!-- Import Google fonts -->
<style>
    @@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Roboto&display=swap');
</style>
<!---->

<div class="page">
        <NavMenu />
        @*<div class="page-background-gradient"></div> *@
        <main>
            <Article class="content">
                @Body
            </Article>
        </main>
</div>

<style>
    .page-background-gradient{
        background: rgb(2,0,36); 
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
        width: 100%;
        height: 250px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
</style>

@code {
}