<div id="pending-account-index-container">
    <i class="fa-regular fa-hourglass-half anim-tilting"></i>
    <h1>Conta em revisão!</h1>
    <h2>Fique atento às notificações. Lá, irá receber atualizações relativas ao estado da conta.</h2>
</div>

<style>
    #pending-account-index-container{
        width: 100%;
        display: grid;
        place-items: center;
        background-color: orange;
        border-radius: 10px;
        padding: 50px;
        gap: 30px;
    }

    #pending-account-index-container > h1, #pending-account-index-container > h2 {
        text-align: center;
    }
    
</style>

@code {

}
